<!doctype html>
<html lang="en">

<head>
    {% block meta %}
        {% include 'meta.html' %}
    {% endblock %}
</head>


<body>
    <!-- [ navigation menu ] start -->
    {% block nav %}
        {% include 'nav.html' %}
    {% endblock %}
    <!-- [  navigation menu ] end -->

    <!-- BEGIN LOADER -->
    {% block loader %}
        {% include 'loader.html' %}
    {% endblock %}
    <!--  END LOADER -->
    <div class="main-container" id="container">
        <div class="icon-circle bg-primary">
            <i class="fas fa-file-alt text-white"></i>
        </div>
        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="pcoded-main-container">
            <div class="pcoded-content">
                <div class="container-xxl py-5 bg-white">
                    <div class="container">
                        <div class="">
                            

                            <div class="row g-5 align-items-end">

                                <div id="" class="">
                                    <br>
                                    <div class="container">
                                        <div class="row g-5 align-items-end">
                                            <h6 class=" display-5 text-primary text-center mb-0 ">Eleccion De Junta Administrativa</h6>
                                            <div class="col-lg-12  mt-4">
                                                <div class="border-start ps-4">
                                                    <div class="media-body">
        
                                                        <span class="mb-5">
                                                            El procedimiento para la elección de la junta administradora y el comité de control en la Asamblea de Constitución de la asociación comunitaria de acueducto se lleva a cabo de la siguiente manera:
                                                            </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="container">
                                        <div class="row">

                                            <div class="col-lg-4 mb-5 mt-4">
                                                <div class="border-start ps-4">
                                                    <div class="media-body">
                                                        <h5 class="mb-3">Presentación de los cargos a elegir:</h5>
                                                        <span class="mb-5">Se informa a los asistentes sobre los cargos que serán elegidos, como los miembros de la junta administradora y los integrantes del comité de control. Se describen las responsabilidades y funciones de cada cargo para que los participantes tengan claridad sobre lo que implica cada posición de acuerdo con los estatutos previamente aprobados. 
                                                            </span>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-lg-4 mb-5 mt-4">
                                                <div class="border-start ps-4">
                                                    <div class="media-body">
                                                        <h5 class="mb-3"> Nominaciones: </h5>
                                                        <span class="mb-5">Se informa a los asistentes sobre los cargos que serán elegidos, como los miembros de la junta administradora y los integrantes del comité de control. Se describen las responsabilidades y funciones de cada cargo para que los participantes tengan claridad sobre lo que implica cada posición de acuerdo con los estatutos previamente aprobados. 
                                                            </span>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-lg-4 mb-5 mt-4">
                                                <div class="border-start ps-4">
                                                    <div class="media-body">
                                                        <h5 class="mb-3"> Presentación:</h5>
                                                        <span class="mb-5">de candidatos: Una vez realizadas las nominaciones, se brinda la oportunidad a los candidatos de presentarse ante los asistentes. Cada candidato puede expresar sus motivaciones, experiencia y propuestas para el cargo al que están postulando. 
                                                            </span>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                    <br>
                                    
                                    
                                    <!-- campos -->
                                    <div class="container">
                                        <div class="row justify-content-center">


                                            <div class="col-lg-4 mb-5 mt-4">
                                                <div class="border-start ps-4">
                                                    <div class="media-body">
                                                        <h5 class="mb-3"> Debate y preguntas:</h5>
                                                        <span class="mb-5">Se permite un espacio de tiempo para que los asistentes realicen preguntas a los candidatos. Esto les brinda la oportunidad de conocer más a fondo a los candidatos y evaluar su idoneidad para el cargo.  
                                                            </span>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-lg-4 mb-5 mt-4">
                                                <div class="border-start ps-4">
                                                    <div class="media-body">
                                                        <h5 class="mb-3"> Votación: </h5>
                                                        <span class="mb-5">Se procede a la votación para elegir a los miembros de la junta administradora y del comité de control. Cada asistente tiene derecho a emitir su voto por los candidatos de su elección en cada cargo. Dependiendo de lo establecido en los estatutos o las normas internas de la asamblea, puede requerirse un porcentaje mínimo de votos afirmativos para considerar a un candidato elegido.   
                                                            </span>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-lg-4 mb-5 mt-4">
                                                <div class="border-start ps-4">
                                                    <div class="media-body">
                                                        <h5 class="mb-3"> Anuncio de los resultados: </h5>
                                                        <span class="mb-5">Una vez finalizada la votación, se procede al conteo de votos y se anuncian los resultados. Se informa quiénes han sido elegidos para ocupar los cargos de la junta administradora y el comité de control, respetando el proceso democrático y la voluntad de los asistentes.   
                                                            </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                
                                    <br>
                                    <div class="container">
                                        <div class="row justify-content-center">


                                            <div class="col-lg-12  mt-4">
                                                <div class="border-start ps-4">
                                                    <div class="media-body">
        
                                                        <span class="mb-5">
                                                            Es importante destacar que la elección de la junta administradora y el comité de control implica la selección de personas idóneas y comprometidas con el bienestar de la comunidad. Estos cargos serán responsables de tomar decisiones importantes, administrar los recursos y velar por el correcto funcionamiento del acueducto comunitario.
                                                            </span>
                                                    </div>
                                                </div>
                                            </div>

                                            
                                        </div>
                                    </div>      
                                </div>
                            </div>
                        </div>    
                    </div>


                    <div class="footer-wrapper col-xl-12 d-flex justify-content-center mt-2">
                        <div class="footer-section f-section-1">
                            <p class="">&copy; 2023 <a target="_blank"
                                    href="https://www.sena.edu.co/es-co/Paginas/default.aspx">SENA -
                                    Acueducto</a></p>
                        </div>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <!--  END CONTENT AREA  -->
    </div>


    <!-- BEGIN SCRIPTS -->
    {% block scripts %}
        {% include 'scripts.html' %}
    {% endblock %}
    <!-- END SCRIPTS -->

</body>
</html>
