<!doctype html>
<html lang="en">

<head>
  <title>Listado Viviendas </title>
  {% block meta %}
  {% include 'meta.html' %}
  {% endblock %}

  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
  <link rel="stylesheet"
    href="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-1.13.6/af-2.6.0/b-2.4.2/b-html5-2.4.2/b-print-2.4.2/kt-2.10.0/r-2.5.0/sr-1.3.0/datatables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<style>
  div.dt-button-info h2 {
    color: #000000;
  }
</style>

<body>

  <!-- [ navigation menu ] start -->
  {% block nav %}
  {% include 'nav.html' %}
  {% endblock %}
  <!-- [  navigation menu ] end -->

  <!-- BEGIN LOADER -->
  {% block loader %}
  {% include 'loader.html' %}
  {% endblock %}
  <!--  END LOADER -->


  <main class="pcoded-main-container">
    <div class="d-flex justify-content-center mt-5 pt-5 ">
      {% if alter==1 %}
      <form action="/viviendas/2" method="GET">
        <button type="submit" class="btn btn-success me-4">Viviendas Asociadas</button>
      </form>
      {% else %}
      <form action="/viviendas/1" method="GET">
        <button type="submit" class="btn btn-success me-4">Viviendas Sin Asociar</button>
      </form>
      {% endif %}
    </div>

    <div class="pcoded-content">
      <div class="table-responsive">
        <table class="table table-striped
            table-hover	
            table-borderless
            table-success
            align-middle responsive " id="dataViviendas" class="display">
            <thead>
              <tr>
                  <th>Direccion</th>
                  <th>Estrato</th>
                  <th>Tipo</th>
                  <th class="dt-no-sorting"></th>
                  <th class="dt-no-sorting"></th>
              </tr>
          </thead>
          
          <tbody>
            {% for vivienda in viviendas %}
            <tr>
              <td>{{ vivienda.direccion }}</td>
              <td>{{ vivienda.estrato }}</td>
              <td>{{ vivienda.uso }}</td>
              <td class="text-center">
                <form action="/EditarVivienda" method="post" id="editVivienda_{{ vivienda.id_inmueble }}">
                  <input type="hidden" name="id_vivienda" id="id_vivienda" value="{{ vivienda.id_inmueble }}">
                  <button class="btn btn-success" type="button" onclick="redirigirEditVivienda('{{ vivienda.id_inmueble }}')">
                    Editar
                  </button>
                </form>
              </td>
              <td>
                {% if alter==1 %}
                <form action="/deleteViviendaNoOwner" method="post" id="deleteVivienda_{{ vivienda.id_inmueble }}">
                  <input type="text" hidden name="id_vivienda" id="id_vivienda" value="{{ vivienda.id_inmueble }}">
                  <button type="button" class="btn btn-danger" onclick="confirmDelete('{{ vivienda.id_inmueble }}', 'Borrar')">
                    Borrar
                  </button>
                </form>
                {% else %}
                <form action="/desvincularVivienda" method="post" id="desvincularVivienda{{ vivienda.id_inmueble }}">
                  <input type="text" hidden name="id_vivienda" id="id_vivienda" value="{{ vivienda.id_inmueble }}">
                    <button type="button" class="btn btn-danger" onclick="confirmUnlink('{{ vivienda.id_inmueble }}', 'Desvincular')">
                      Desvincular
                  </button>
                </form>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </main>
  {% if alerta: %}
  <script>
    Swal.fire({
      icon: '{{alerta.color}}',
      title: '{{alerta.mensaje}}',
      showConfirmButton: false,
      timer: 1500
    })
  </script>
  {% endif %}

  <script>
    function redirigirEditVivienda(id) {
      document.getElementById(`editVivienda_${id}`).submit();
    }

    function confirmDelete(id,txt) {
      Swal.fire({
        title: '¿Estás seguro?',
        text: 'No podrás revertir esta acción',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: txt,
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.isConfirmed) {
          document.getElementById(`deleteVivienda_${id}`).submit();
        }
      });
    }
    function confirmUnlink(id,txt) {
      Swal.fire({
        title: '¿Estás seguro?',
        text: 'No podrás revertir esta acción',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: txt,
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.isConfirmed) {
          document.getElementById(`desvincularVivienda${id}`).submit();
        }
      });
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/vfs_fonts.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>
  <script src="sweetalert2.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#dataViviendas').DataTable({
        select: true,
        destroy: true,
        columnDefs: [{
            targets: [3],
            orderable: false
          },
          {
            targets: [4],
            orderable: false
          }
        ],
        language: {
          url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json',
          "searchPlaceholder": "Busqueda en tabla",
        },
        pagingType: 'full_numbers',
        dom: '<"top"Bfrtip>rt<"bottom"lp><"clear">',
        buttons: [
          'copy', 'excel', 'pdf', 'csv', 'print'
        ],
        stateSave: true,
        "stripeClasses": [],
        "lengthMenu": [5, 10, 20, 50],
        "pageLength": 10
      });
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
  </script>
  <script src="{{ url_for('static', path='plugins/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
  <script src="{{ url_for('static', path='assets/js/pcoded.min.js') }}"></script>
  <script src="{{ url_for('static', path='assets/js/loader.js') }}"></script>

</body>

</html>