<!doctype html>
<html lang="en">

<head>
  <title>Editar Vivienda</title>
  {% block meta %}
  {% include 'meta.html' %}
  {% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
  <header>
    {% block nav %}
    {% include 'nav.html' %}
    {% endblock %}
  </header>

  <!-- [  navigation menu ] end -->

  <!-- BEGIN LOADER -->
  {% block loader %}
  {% include 'loader.html' %}
  {% endblock %}x`
  <!--  END LOADER -->
  <div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
      <a href="/viviendas/1" class="btn btn-success">⬅</a>
      <div class="layout-px-spacing">
        <div class="container-xxl">
          <div class="layout-top-spacing">
            <div class="col-left-content">
              <!-- Formulario edicion vivienda -->
              <div class="container d-flex justify-content-center align-items-center vh-90">
                <div class="col-12 col-lg-6 bg-light rounded p-4 shadow">

                  <h2 class="text-center mb-4">Estas modificando la vivienda en {{ vivienda.direccion }}</h2>
                  <form action="/updateViviendaNoOwner/" method="POST" id="updateViviendaNoOwner">
                    <input type="hidden" name="id_vivienda" id="id_vivienda" value="{{ vivienda.id_vivienda }}">
                    <div class="form-group">
                      <label for="drcViviendaEdit">Dirección:</label>
                      <input type="text" class="form-control" name="drcViviendaEdit" id="drcViviendaEdit" required
                        value="{{ vivienda.direccion }}">
                    </div>
                    <div class="form-group">
                      <label for="estratoEdit">Estrato:</label>
                      <select class="form-select" name="estratoEdit" id="estratoEdit" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="tipoViviendaEdit">Tipo de vivienda:</label>
                      <select class="form-select" name="tipoViviendaEdit" id="tipoViviendaEdit" required>
                        <option value="Domestico">Domestico</option>
                        <option value="Industrial">Industrial</option>
                        <option value="Institucional">Institucional</option>
                        <option value="Comercial">Comercial</option>
                        <option value="Agropecuario">Agropecuario</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="numPersonasEdit">Número de residentes</label>
                      <input type="number" class="form-control" name="numPersonasEdit" id="numPersonasEdit" required
                        value="{{ vivienda.numero_residentes }}">
                    </div>
                    <div class="form-group">
                      <label for="id_usuario">Dueño:</label>
                      <select class="form-select" name="id_usuario" id="id_usuario">
                        <option value="">Seleccione un dueño</option>
                        {% for user in users %}
                          <option value="{{ user.id_usuario }}" {% if user.id_usuario == vivienda.id_usuario %}selected{% endif %}>
                            {{ user.nom_usuario }}
                          </option>
                        {% endfor %}
                      </select>
                    </div>
                    
                    <div class="text-center">
                      <a href="/viviendas/1" class="btn btn-danger" onclick="reset()">CANCELAR</a>
                      <button type="submit" class="btn btn-success">ACTUALIZAR</button>
                    </div>
                  </form>

                </div>
              </div>
              <div class="footer-wrapper col-xl-12">
                <div class="footer-section f-section-1">
                  <p class="">&copy; 2023 <a target="_blank"
                      href="https://www.sena.edu.co/es-co/Paginas/default.aspx">SENA - Acueducto</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!--  END CONTENT AREA  -->
  </div>
  <!-- END MAIN CONTAINER -->
  {% if alerta: %}
  <script>
    Swal.fire({
      icon: '{{alerta.color}}',
      title: '{{alerta.mensaje}}',
      showConfirmButton: false,
      timer: 1500
    })
  </script>
  {% endif %}

  <script>
    document.getElementById("estratoEdit").value = "{{ vivienda.estrato }}";
    document.getElementById("tipoViviendaEdit").selectedIndex = "{{ vivienda.uso }}";
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <!-- BEGIN SCRIPTS -->
  {% block scripts %}
  {% include 'scripts.html' %}
  {% endblock %}
  <!-- END SCRIPTS -->

</body>

</html>