<!DOCTYPE html>
<html lang="es">

<head>
  <title>Registrar Variables</title>
  {% block meta %}
  {% include 'meta.html' %}
  {% endblock %}
</head>
<style>
  #tipo_doc,
  #rol,
  #empresa {
    cursor: pointer;
  }
</style>


<body class="dashboard-analytics admin-header">
  <header>
    {% block nav %}
    {% include 'nav.html' %}
    {% endblock %}
  </header>
  <!-- [  navigation menu ] end -->

  <!-- BEGIN LOADER -->
  {% block loader %}
  {% include 'loader.html' %}
  {% endblock %}
  <!--  END LOADER -->
  <!--  BEGIN MAIN CONTAINER  -->
  <div class="main-container" id="container">
    <div class="overlay"></div>
    <div class="search-overlay"></div>
    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
      <div class="layout-px-spacing">
        <div class="container-xxl bg-light  shadow">
          <div class="layout-top-spacing">
            <div class="col-left-content">
              <!-- Formulario registro suscriptores -->
              <div class="container-xxl d-flex justify-content-center align-items-center vh-90">
                <div class="col-lg-12 col-md-12 col-sm-12 pt-2">
                  {% if alerta: %}
                  <div class="alert alert-{{alerta.color}}" role="alert">
                    {{alerta.mensaje}}
                  </div>
                  {% endif %}
                  <h2 class="text-center mb-4 py-3 mt-3">Parámetros fisico químicos</h2>
                  <form id="formVariables" class="row" onsubmit="return validarFormulario()">
                    <!-- Agregamos action y method para enviar datos al servidor -->
                      {% if not 1 in preguntas %}
                      <div class="form-group  col-lg-6 col-md-6 col-sm-12 mb-3">
                        <label for="1">Nombre del proyecto</label>
                        <input type="text" class="form-control" id="1" name="nom_proyecto"
                          placeholder="Ingrese el nombre del proyecto ">
                      </div>
                      {% endif %}
                      {% if not 2 in preguntas %}
                      <div class=" form-group col-lg-6 col-md-6 col-sm-12 mb-3 ">
                        <label for="2">Clasificación del suelo rural</label>
                        <select class="form-select" name="suelo_ru" id="2">
                          <option value="">Seleccione una opcion</option>
                          <option value="Cabecera de corregimiento">Cabecera de corregimiento</option>
                          <option value="Centro poblado rura">Centro poblado rural</option>
                          <option value="Parcelación campestre">Parcelación campestre</option>
                          <option value="Otros núcleos rurales (que no aparecen en el POT, PBOT o EOT)">Otros núcleos
                            rurales (que no aparecen en el POT, PBOT o EOT)</option>
                        </select>
                      </div>
                      {% endif %}
                      {% if not 3 in preguntas %}
                      <div class="form-group col-lg-6 col-md-6 col-sm-12 mb-3">
                        <label for="3">Número de viviendas</label>
                        <input type="number" class="form-control" id="3" name="num_viv"
                          placeholder="Ingrese el número de viviendas">
                      </div>
                      {% endif %}
                      {% if not 4 in preguntas %}
                      <div class=" form-group col-lg-6 col-md-6 col-sm-12 mb-3 ">
                        <label for="4">Fuentes abastecedoras</label>
                        <input type="tex" class="form-control" id="4" name="fuen_ab"
                          placeholder="Ingrese el nombre de la fuente ">

                      </div>
                      {% endif %}
                      {% if not 5 in preguntas %}
                      <div class="col-lg-6 col-md-6 col-sm-12 mb-3 form-group ">
                        <label for="5">Ingresos promedio por familia</label>
                        <input type="number" class="form-control" name="ingr" id="5" placeholder="Ingrese el dato">
                      </div>
                      {% endif %}
                      {% if not 6 in preguntas %}
                      <div class=" form-group col-lg-6 col-md-6 col-sm-12 mb-3 ">
                        <label for="6">Periodicidad del ingreso</label>
                        <select class="form-select" name="per_ingr" id="6">
                          <option value="">Seleccione una opcion</option>
                          <option value="Diario">Diario</option>
                          <option value="Semanal">Semanal</option>
                          <option value="Quincenal">Quincenal </option>
                          <option value="Mensual">Mensual</option>
                          <option value="Otro">Otro</option>
                        </select>
                      </div>
                      {% endif %}
                      {% if not 7 in preguntas %}
                      <div class=" form-group col-lg-6 col-md-6 col-sm-12 mb-3 ">
                        <label for="7">Disponibilidad para el pago del servicio de acueducto</label>
                        <select class="form-select" name="dis_pago_ser" id="7">
                          <option value="">Seleccione una opcion</option>
                          <option value="Si">Si</option>
                          <option value="No">No</option>
                          <option value="Posible">Posible </option>
                        </select>
                      </div>
                      {% endif %}
                      {% if not 8 in preguntas %}
                      <div class="form-group col-lg-6 col-md-6 col-sm-12 mb-3">
                        <label for="8">Año base de diseño</label>
                        <input type="number" class="form-control" name="anio_bas" id="8"
                          placeholder="Colocar el año inmediatamente superior al actual">
                      </div>
                      {% endif %}
                      {% if not 9 in preguntas %}
                      <div class="form-group col-lg-6 col-md-6 col-sm-12 mb-3">
                        <label for="9">Población residencial</label>
                        <input type="number" class="form-control" name="pob_res" id="9" placeholder="Ingrese el número">
                      </div>
                      {% endif %}
                      {%  if not 10 in preguntas %}
                      <div class=" form-group col-lg-6 col-md-6 col-sm-12 mb-3 ">
                        <label for="10">¿Existe una institución escolar?</label>
                        <select class="form-select" name="inst" id="10">
                          <option value="">Seleccione una opcion</option>
                          <option value="Si">si</option>
                          <option value="No">no</option>
                        </select>
                      </div>
                      {% endif %}
                      {% if not 11 in preguntas %}
                      <div class="form-group col-lg-6 col-md-6 col-sm-12 mb-3">
                        <label for="11">Número total de alumnos</label>
                        <input type="number" class="form-control" name="num_al" id="11" placeholder="Ingrese el número">
                      </div>
                      {% endif %}
                      {% if not 12 in preguntas %}
                      <div class="form-group col-lg-6 col-md-6 col-sm-12 mb-3">
                        <label for="12">Número de alumnos nativos</label>
                        <input type="number" class="form-control" name="num_alnat" id="12"
                          placeholder="Ingrese el número">
                      </div>
                      {% endif %}
                      {% if not 13 in preguntas %}
                      <div class="form-group col-lg-6 col-md-6 col-sm-12 mb-3">
                        <label for="13">Número de profesores</label>
                        <input type="number" class="form-control" name="num_pr" id="13" placeholder="Ingrese el número">
                      </div>
                      {% endif %}
                      {% if not 14 in preguntas %}
                      <div class="form-group col-lg-6 col-md-6 col-sm-12 mb-3">
                        <label for="14">Número de administrativos</label>
                        <input type="number" class="form-control" name="num_ad" id="14" placeholder="Ingrese el número">
                      </div>
                      {% endif %}
                      {% if not 15 in preguntas %}
                      <div class=" form-group col-lg-6 col-md-6 col-sm-12 mb-3 ">
                        <label for="15">¿Población flotante?</label>
                        <select class="form-select" name="pobflo" id="15">
                          <option value="">Seleccione una opcion</option>
                          <option value="Visitantes de fines de semana">Visitantes de fines de semana</option>
                          <option value="De eventos comerciales semanales">De eventos comerciales semanales</option>
                          <option value="De eventos culturales semanales">De eventos culturales semanales</option>
                          <option value="Otro">Otro</option>
                          <option value="No aplica">No aplica</option>
                        </select>
                      </div>
                      {% endif %}
                      {% if not 16 in preguntas %}
                      <div class="form-group col-lg-6 col-md-6 col-sm-12 mb-3">
                        <label for="16">Número estimado de población flotante</label>
                        <input type="number" class="form-control" name="num_poflo" id="16"
                          placeholder="Ingrese el número">
                      </div>
                      {% endif %}
                      {% if not 17 in preguntas %}
                      <div class="form-group col-lg-6 col-md-6 col-sm-12 mb-3">
                        <label for="17">Altura promedio sobre el nivel del mar de la zona atendida</label>
                        <input type="number" class="form-control" name="al_niv_zona" id="17"
                          placeholder="Ingrese el valor">
                      </div>
                      {% endif %}
                      {% if not 18 in preguntas %}
                      <div class="form-group  col-lg-6 col-md-6 col-sm-12 mb-3">
                        <label for="18">Altura sobre el nivel de más del punto de captación</label>
                        <input type="number" class="form-control" name="niv_cap" id="18"
                          placeholder="Ingrese la altura sobre el nivel del mar">
                      </div>
                      {% endif %}
                      {% if not 19 in preguntas %}
                      <div class="form-group col-lg-6 col-md-6 col-sm-12 mb-3">
                        <label for="19">Caudal medio de la fuente</label>
                        <input type="number" class="form-control" name="caudal_med" id="19" placeholder="Ingrese el dato">
                      </div>
                      {% endif %}
                      {% if not 20 in preguntas %}
                      <div class="form-group col-lg-6 col-md-6 col-sm-12 mb-3">
                        <label for="20">Caudal mínimo de la fuente</label>
                        <input type="number" class="form-control" name="caudal_min" id="20" placeholder="Ingrese el dato">
                      </div>
                      {% endif %}
                      {% if not 21 in preguntas %}
                      <div class="form-group col-lg-6 col-md-6 col-sm-12 mb-3">
                        <label for="21">Altura máxima de crecidas</label>
                        <input type="number" class="form-control" name="alt_max" id="21" placeholder="Ingrese el valor">
                      </div>
                      {% endif %}
                      {% if not 22 in preguntas %}
                      <div class="form-group col-lg-6 col-md-6 col-sm-12 mb-3">
                        <label for="22">Temperatura media del agua</label>
                        <input type="number" class="form-control" name="temp_agua" id="22" placeholder="Ingrese el dato">
                      </div>
                      {% endif %}
                      {% if not 23 in preguntas %}
                      <div class="form-group col-lg-6 col-md-6 col-sm-12 mb-3">
                        <label for="23">Ancho medio del cauce en el punto de captación</label>
                        <input type="number" class="form-control" name="ancho_cause" id="23"
                          placeholder="Ingrese el valor">
                      </div>
                      {% endif %}
                      <div class="text-center mt-2 ">
                        <a href="/index" class="btn btn-danger">Cancelar</a>
                        <button type="submit" class="btn btn-success">Aceptar</button>
                    </div>
                  </form>
                </div>
              </div>
              <br>
            </div>
          </div>
        </div>
        <!--  END CONTENT AREA  -->
      </div>
      <br>

      {% if id_empresa: %}
      <input type="hidden" name="id_empresa" value="{{id_empresa}}" id="id_empresa">
      {%endif%}
      <div class="footer-section f-section-1 m-1" style="text-align: center;">
        <p>&copy; 2023 <a target="_blank" href="https://www.sena.edu.co/es-co/Paginas/default.aspx">SENA -Acueducto</a>
        </p>
      </div>
    </div>
    {% block scripts %}
    {% include 'scripts.html' %}
    {% endblock %}
    <!-- <script>
      function insertUser(){
        document.getElementById("registroForm").submit();
        document.getElementById("registroForm").reset();
      }
    </script> -->

    <script>
      let lista_variables = [];
      let lista_respuestas = [];
      let id_empresa = document.getElementById('id_empresa').value;
      const enviarDatosPost = () => {
        fetch("/diseño_acueducto", {
          method: "POST",
          body: JSON.stringify(
            {
              "lista_respuestas": lista_respuestas,
              "lista_variables": lista_variables,
              "id_empresa": id_empresa
            }),
        })
          .then(response => response.json())
          .then(data => {
            if (data.status) {
              mostrarAlert(data.msg, "success")
              formVariables.reset();
              setTimeout(function () {
                window.location.href = "/listaVariables";
              }, 4000);
              

            }
            console.log(data);
          })
      }

      //funcion  para mostrar alert
      function mostrarAlert(message, type = "info") {
        Swal.fire({
          title: "Aviso",
          text: message,
          icon: type,
          showConfirmButton: false,
          timer: 3000,
        });
      }

      // document.getElementById("registroForm").addEventListener("submit", async function (event){
      //   event.preventDefault();
      //   console.log("SI ENTRAMOS PAPI");
      //   try {
      //     const formData = new FormData(this);

      //     const response = await enviarSolicitud(formData);

      //     if (response.success) {
      //       mostrarAlert("Usuario regsitrado con exito.", "success");

      //       //Limpiamos el form
      //       this.reset();

      //       document.getElementById("nom_usuario").focus();


      //       setTimeout(function() {
      //         window.location.href = "/form_registro_usuario";
      //       }, 3000); // segundos
      //     }
      //   } catch (error) {
      //     mostrarAlert(`Error al registrar el usuario: ${error.message}`, "error");
      //   }
      // });
      let formVariables = document.getElementById('formVariables');
      formVariables.addEventListener('submit', (e) => {
        e.preventDefault();
        respuestas();
        if(lista_respuestas.length > 0){
          enviarDatosPost();
        }else if(lista_respuestas.length == 0) {
          mostrarAlert("Por favor ingrese datos para enviar el formulario.");
        }
        
      });


      const respuestas = () => {
        const labelNombre = document.querySelectorAll("label[for]");
        labelNombre.forEach(etiqueta => {
          const inputID = etiqueta.getAttribute('for');
          const inputElement = document.getElementById(inputID);
          if (inputElement.value != "") {
            lista_respuestas.push(inputElement.value);
            lista_variables.push(inputID);
          }
        });
      }
    </script>
</body>

</html>