<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    {% include 'meta.html' %}
    {% endblock %}
</head>

<body class="dashboard-analytics admin-header">
    <!-- [ navigation menu ] start -->
    {% block nav %}
    {% include 'nav.html' %}
    {% endblock %}
    <!-- [  navigation menu ] end -->

    <!-- BEGIN LOADER -->
    {% block loader %}
    {% include 'loader.html' %}
    {% endblock %}
    <!--  END LOADER -->
    <!--  BEGIN MAIN CONTAINER  -->
    <!--  BEGIN CONTENT AREA  -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <div class="container-xxl py-5 bg-white">
                <div class="container">
                    <div class="">
                        <div class="admin-data-content layout-top-spacing ">
                            <form action="/diseño_acueducto" method="post">
                                <select name="id_variable" id="">
                                    <option value="1">NOMBRE DEL PROYECTO</option>
                                    <option value="2">CLASIFICACION DEL SUELO RURAL</option>
                                    <option value="3">NUMERO DE VIVIENDAS</option>
                                    <option value="4">FUENTES ABASTECEDORA</option>
                                    <option value="5">INGRESOS PROMEDIO POR FAMILIA</option>
                                    <option value="6">PERIODICIDAD DEL INGRESO</option>
                                    <option value="7">DISPONIBILIDAD PARA EL PAGO DEL SERVICIO DE ACUEDU...</option>
                                    <option value="8">AÑO BASE DE DISEÑO</option>
                                    <option value="9">POBLACION RESIDENCIAL</option>
                                    <option value="10">EXISTE UNA INSTITUCION ESCOLAR</option>
                                    <option value="11">NUMERO TOTAL DE ALUMNOS</option>
                                    <option value="12">NUMERO DE ALUMNOS NATIVOS</option>
                                    <option value="13">NUMERO DE PROFESORES</option>
                                    <option value="14">NUMERO DE ADMINISTRATIVOS</option>
                                    <option value="15">POBLACION FLOTANTE</option>
                                    <option value="16">NUMERO ESTIMADO DE POBLACION FLOTANTE</option>
                                    <option value="17">ALTURA PROMEDIO SOBRE EL NIVEL DEL MAR DE LA ZONA ...</option>
                                    <option value="18">ALTURA SOBRE EL NIVEL DE MAS DEL PUNTO DE CAPTACIO...</option>
                                    <option value="19">CAUDAL MEDIO DE LA FUENTE</option>
                                    <option value="20">CAUDAL MINIMO DE LA FUENTE</option>
                                    <option value="21">ALTURA MAXIMA DE CRECIDAS</option>
                                    <option value="22">TEMPERATURA MEDIA DEL AGUA</option>
                                    <option value="23">ANCHO MEDIO DEL CAUCE EN EL PUNTO DE CAPTACION</option>
                                </select>
                                <input type="text" name="respuesta">
                                <input type="hidden" name="id_empresa" value="35">
                                <button type="submit">Enviar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        

	
 
 
 
2
CLASIFICACION DEL SUELO RURAL
NUMERO DE VIVIENDAS
FUENTES ABASTECEDORA
INGRESOS PROMEDIO POR FAMILIA
PERIODICIDAD DEL INGRESO
DISPONIBILIDAD PARA EL PAGO DEL SERVICIO DE ACUEDU...
AÑO BASE DE DISEÑO
POBLACION RESIDENCIAL
EXISTE UNA INSTITUCION ESCOLAR
NUMERO TOTAL DE ALUMNOS
NUMERO DE ALUMNOS NATIVOS
NUMERO DE PROFESORES
NUMERO DE ADMINISTRATIVOS
POBLACION FLOTANTE
NUMERO ESTIMADO DE POBLACION FLOTANTE
ALTURA PROMEDIO SOBRE EL NIVEL DEL MAR DE LA ZONA ...
ALTURA SOBRE EL NIVEL DE MAS DEL PUNTO DE CAPTACIO...
CAUDAL MEDIO DE LA FUENTE
CAUDAL MINIMO DE LA FUENTE
ALTURA MAXIMA DE CRECIDAS
TEMPERATURA MEDIA DEL AGUA
ANCHO MEDIO DEL CAUCE EN EL PUNTO DE CAPTACION
        <!--  END CONTENT AREA  -->
    </div>
    <div class="pcoded-main-container">
        <div class="footer-wrapper col-xxl-12 d-flex justify-content-center ">
            <div class="footer-section f-section-1">
                <p class="">&copy; 2023 
                    <a target="_blank"
                        href="https://www.sena.edu.co/es-co/Paginas/default.aspx">SENA -
                        Acueducto
                    </a>
                </p>
            </div>
        </div>
    </div>
    
    <!-- BEGIN SCRIPTS -->
    {% block scripts %}
    {% include 'scripts.html' %}
    {% endblock %}
    <!-- END SCRIPTS -->
</body>

</html>