<!DOCTYPE html>
<html lang="es">
    <head>
        <link href="{{ url_for('static', path='assets/css/authentication/form-1.css') }}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css"  href="{{ url_for('static', path='assets/css/forms/theme-checkbox-radio.css') }}" />
        <link rel="stylesheet" type="text/css"  href="{{ url_for('static', path='assets/css/forms/switches.css') }}" />
        {% block meta %}
        {% include 'meta.html' %}
        {% endblock %}
    </head>
<body class="form">
    <div class="form-container">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">
                        <h1 class="">Iniciar sesión en <span class="brand-name">Acueducto</span></h1>
                        <form class="text-left" action="/iniciarSesion" method="post">
                            {% if alerta: %}
                            <div class="alert alert-{{alerta.color}}" role="alert">
                                {{alerta.mensaje}}
                            </div>
                            {% endif %}
                            <div class="form">
                                <div id="username-field" class="field-wrapper input">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                    <input id="email" name="email" type="text" class="input d-flex align-items-center pt-2" placeholder="Correo" >
                                </div>
                        
                                <div id="password-field" class="field-wrapper input">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
                                    <input id="password" name="password" type="password" class="input d-flex align-items-center pt-2" placeholder="Contraseña">
                                </div>
                                <div class="d-sm-flex justify-content-between">
                                    <div class="field-wrapper toggle-pass">
                                        <div class="d-inline-block">
                                            <p class="d-inline-block">Mostrar contraseña</p>
                                        </div>
                                        
                                        <label class="switch s-success mt-1">
                                            <input type="checkbox" id="toggle-password" class="d-none">
                                            <span class="slider round border border-3 border-success"></span>
                                        </label>
                                    </div>
                                    <div class="field-wrapper">
                                        <button type="submit" class="btn btn-success" value="">Iniciar sesión</button>
                                    </div>
                                </div>
                                
                                <div class="field-wrapper text-center keep-logged-in">
                                    <div class="n-chk new-checkbox checkbox-outline-primary">
                                        <label class="new-control new-checkbox checkbox-outline-success">
                                            <input type="checkbox" class="new-control-input">
                                            <span class="new-control-indicator"></span>Mantener sesión iniciada
                                        </label>
                                    </div>
                                </div>
                        
                                <div class="field-wrapper">
                                    <!-- <a href="auth_pass_recovery.html" class="forgot-pass-link text-success"><span class="brand-name">¿Olvidaste tu contraseña?</span></a> -->
                                </div>
                            </div>
                        </form>
                        <p class="terms-conditions">© 2023 Todos los derechos reservados. <a href="javascript:void(0);">ACUEDUCTO</a> es un producto de ADSO-2558265. <a href="javascript:void(0);">Preferencias de cookies</a>, <a href="javascript:void(0);">Privacidad</a> y <a href="javascript:void(0);">Términos</a>.</p>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="form-image">
            <div class="l-image d-flex justify-content-center align-items-center ">
                <img src="{{ url_for('static', path='assets/images/logo-sena.ico') }}" alt="logo sena" class="img-fluid ">
            </div>
        </div>
    </div>

    {% block scripts %}
        {% include 'scripts.html' %}
    {% endblock %}
    <script src="{{ url_for('static', path='assets/js/authentication/form-1.js') }}"></script>
    <script src="{{ url_for('static', path='assets/js/mostrar-contrasenia.js') }}"></script>


</body>
</html>