<nav class="pcoded-navbar shadow pt-3" style="position: fixed;">
    <div class="navbar-wrapper  ">
        <div class="navbar-content scroll-div">

            <div>
                <div class="main-menu-header">
                    <img class="img-radius" src="https://i.pinimg.com/474x/41/57/bd/4157bd037ef27997ed346d11e7c5f38a.jpg"
                        alt="User-Profile-Image">
                    <div class="user-details">
                        <span class="username">{{ usuario.nom_usuario }} {{usuario.apellido_usuario}}</span>
                        <div class="div">
                            <span class="username">{{ usuario.rol }}</span>
                        </div>
                        <div id="more-details">Más detalles<i class="fa fa-chevron-down m-l-5"></i></div>
                    </div>
                </div>
                <div class="collapse" id="nav-user-link">
                    <ul class="list-unstyled">
                        <li class="list-group-item">
                            <a href="/perfil_usuario">
                                <i class="feather icon-user icono-perfil m-r-5"></i>
                                Perfil
                            </a>
                        </li>

                        <li>
                            <form action="/cerrarSesion" method="post">
                                <button type="submit" class="list-group-item"><i
                                        class="feather icon-log-out m-r-5"></i>Cerrar Sesión</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>

            <ul class="nav pcoded-inner-navbar ">
                <li class="nav-item">
                    <a href="/introduccion" class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-home"></i></span><span class="pcoded-mtext">Inicio</span></a>
                </li>
                <!-- MODULO 1 -->
                <li class="nav-item pcoded-hasmenu menu-modulo-bordes menu-modulos">
                    <a href="#!" class="nav-link"><span class="pcoded-micon"><i
                                class="feather icon-box"></i></span><span
                            class="pcoded-mtext label-modulos"><Strong>Módulo 1<br>CONFORMACIÓN DEL
                                ACUEDUCTO</Strong></span></a>
                    <ul class="pcoded-submenu">
                        <li class="nav-item">
                            <!-- PARTE 1 -->
                            <a href="#!" class="nav-link "><span class="pcoded-micon"><i
                                        class="feather icon-layout"></i></span><span
                                    class="pcoded-mtext partes-menu">Conformación del acueducto</span></a>
                            <ul class="pcoded-submenu">
                                <!-- estructura para los pasos -->
                                <li class="nav-item pcoded-menu-caption">
                                    <label class="label-modulos"><i class="feather icon-file-text"></i>Paso 1:
                                        Asamblea de constitución</label>
                                </li>
                                <!-- estructura para los sub pasos -->
                                <li class="nav-item pcoded-menu-caption">
                                    <label class="label-modulos">Paso 1.1: Antes</label>
                                </li>
                                <li><a href="/introduccion" target="_parent">Introduccion</a></li>
                                <li><a href="/censo" target="_parent">Censo</a></li>
                                <li class="nav-item pcoded-menu-caption menu-modulo-bordes">
                                    <label class="label-modulos">Documentos y Formatos</label>
                                    <ul>
                                        <li><a href="/generar_documentos" target="_parent">Generacion de documentos</a></li>
                                        <li><a href="/estatutos" target="_parent">Estatutos</a></li>
                                        <li><a href="/contrato_condiciones" target="_parent">Contratos de Condiciones
                                                Uniformes</a></li>
                                        <!-- <li><a href="/aprobacion_acta_constitucion" target="_parent">Acta de la Asamblea de constitucion</a></li> -->
                                        <li><a href="#" target="_parent">Formatos</a></li>
                                    </ul>
                                </li>

                                <!-- <li><a href="/invitacion_asamblea" target="_parent">Invitación a la asamblea</a></li> -->
                                <li class="nav-item pcoded-menu-caption menu-modulo-bordes">
                                    <label class="label-modulos">Junta Administradora</label>
                                    <ul>
                                        <li><a href="#" target="_parent">Comision de asamblea de conforamcion</a></li>
                                        <li><a href="#" target="_parent">Votacion para asociarse</a></li>
                                        <li><a href="#" target="_parent">Conformacion de la junta</a></li>
                                    </ul>
                                </li>
                                <!-- 1.2 durante -->
                                <!-- estructura para los sub pasos -->
                                <li class="nav-item pcoded-menu-caption">
                                    <label class="label-modulos">Paso 1.2: Durante</label>
                                </li>
                                <li><a href="/orden_dia" target="_parent">Orden del día</a></li>
                                <li><a href="/eleccion_comision" target="_parent">Elección de la comisión</a></li>
                                <li><a href="/generar_documentos" target="_parent">Archivo y control
                                    documental</a></li>
                                <li><a href="/aprobacion_estatutos" target="_parent">Aprobación de los estatutos</a>
                                </li>
                                <li><a href="/eleccion_junta_administradora" target="_parent">Elección junta
                                        administradora y comité de control</a></li>
                                <li><a href="/aprobacion_acta_constitucion" target="_parent">Aprobación del acta de
                                        consitución</a></li>
                                <!--Paso 2-->
                                <li class="nav-item pcoded-menu-caption">
                                    <label class="label-modulos"><i class="feather icon-file-text"></i>Paso 2:
                                        Trámites de legalización </label>
                                </li>
                                <li class="nav-item pcoded-menu-caption">
                                    <label class="label-modulos">Paso 2.1: Registro de cámara de comercio</label>
                                </li>
                                <li><a href="#" target="_parent">Acta de constitución</a></li>
                                <li><a href="#" target="_parent">Listado de suscriptores</a></li>
                                <li><a href="#" target="_parent">Balance de cuentas inicial</a></li>
                                <li><a href="#" target="_parent">Documentos del presidente y el representante legal</a>
                                </li>
                                <li><a href="#" target="_parent">Documentos de la secretaria </a></li>
                                <li><a href="#" target="_parent">Estatutos</a></li>
                                <li class="nav-item pcoded-menu-caption">
                                    <label class="label-modulos">Paso 2.2: RUT y NIT de la DIAN</label>
                                </li>
                                <li><a href="#" target="_parent">Fotocopia de la cédula y el RUT del representante
                                        legal</a></li>
                                <li><a href="#" target="_parent">Documento Pre-RUT de la asociación </a></li>
                                <li><a href="#" target="_parent">Recibo de servicio público - oficina </a></li>

                            </ul>
                        </li>
                        <!-- PARTE 2 -->
                        <li class="nav-item">
                            <a href="#!" class="nav-link "><span class="pcoded-micon"><i
                                        class="feather icon-layout"></i></span><span
                                    class="pcoded-mtext partes-menu">Trámites prestador de servicios
                                    públicos</span></a>
                            <ul class="pcoded-submenu">
                                <li><a href="#" target="_parent">Comisión Reguladora del Agua Potable y Saneamiento
                                        Básico CRA</a></li>
                                <li><a href="#" target="_parent">Superintendencia de servicio públicos domiciliarios</a>
                                </li>
                                <li><a href="#" target="_parent">Autorización Sanitaria Favorable</a></li>
                                <li><a href="#" target="_parent">Concesión de aguas</a></li>
                                <li><a href="#" target="_parent">Plan de Uso Eficiente y Ahorro de Agua PUEAA</a></li>
                                <li><a href="#" target="_parent">Registro Único de Prestador de Servicios Públicos
                                        Domiciliarios</a></li>
                            </ul>
                        </li>
                        <!-- PARTE 3 -->
                        <li class="nav-item">
                            <a href="#!" class="nav-link "><span class="pcoded-micon"><i
                                        class="feather icon-layout"></i></span><span
                                    class="pcoded-mtext partes-menu">Seguimiento planes y programas</span></a>
                            <ul class="pcoded-submenu">
                                <li><a href="#" target="_parent">SG-SST (Resolución 312/2019)</a></li>
                                <li><a href="#" target="_parent">Asambleas generales y extraordinarias</a></li>
                                <li class="nav-item pcoded-menu-caption">
                                    <label class="label-modulos"><i class="feather icon-file-text"></i>
                                        Facturación</label>
                                </li>
                                <li><a href="#" target="_parent">Facturación</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- MÓDULO 2 -->
                <li class="nav-item pcoded-hasmenu menu-modulos">
                    <a href="#!" class="nav-link"><span class="pcoded-micon"><i
                                class="feather icon-box"></i></span><span
                            class="pcoded-mtext label-modulos"><Strong>Módulo 2<br>ASISTENCIA TÉCNICA
                                TRATAMIENTO</Strong></span></a>
                    <ul class="pcoded-submenu">

                        <li class="nav-item pcoded-menu-caption">
                            <label class="label-modulos"><i class="feather icon-file-text"></i>Paso 3: Análisis de
                                la fuente</label>
                        </li>
                        <li class="nav-item pcoded-menu-caption">
                            <label class="label-modulos">Paso 3.1: Ubicación del punto de captación </label>
                        </li>
                        <li><a href="#" target="_parent">Plano hidrográfico</a></li>
                        <li class="nav-item pcoded-menu-caption">
                            <label class="label-modulos">Paso 3.2: Análisis de la calidad de agua</label>
                        </li>
                        <li><a href="/entrada_variables" target="_parent">Parámetros físico químicos</a></li>
                        <li><a href="#" target="_parent">Parámetros microbiológicos</a></li>
                        <li><a href="#" target="_parent">Otros</a></li>
                        <li class="nav-item pcoded-menu-caption">
                            <label class="label-modulos"><i class="feather icon-file-text"></i>Paso 4: Diseño del
                                sistema de potabilización de agua</label>
                        </li>
                        <li class="nav-item pcoded-menu-caption">
                            <label class="label-modulos">Paso 4.2: Cálculos de diseño de componentes del
                                STAP</label>
                        </li>
                        <li class="nav-item pcoded-menu-caption">
                            <label class="label-modulos">Paso 4.3: Diseño de componentes del STAP</label>
                        </li>
                        <li><a href="#" target="_parent">Ubicación punto de captación</a></li>
                        <li><a href="#" target="_parent">Análisis de la calidad del agua</a></li>

                        <li class="nav-item pcoded-menu-caption">
                            <label class="label-modulos">Paso 2: Diseño del sistema de tratamiento del agua</label>
                        </li>
                        <li><a href="#" target="_parent">Variables de entrada</a></li>
                        <li><a href="#" target="_parent">Diseño de componentes del tratamiento</a></li>
                        <li><a href="#" target="_parent">Operación y mantenimiento de componentes del tratamiento
                            </a></li>
                        <li class="nav-item pcoded-menu-caption">
                            <label class="label-modulos"><i class="feather icon-file-text"></i>Paso 13: Operación y
                                mantenimiento STAP</label>
                        </li>
                    </ul>
                </li>
                <!-- MODULO 3 -->
                <!--                     <li class="nav-item pcoded-hasmenu menu-modulo-bordes menu-modulos">
                  <a href="#!" class="nav-link"><span class="pcoded-micon"><i
                              class="feather icon-box"></i></span><span
                          class="pcoded-mtext label-modulos"><Strong>Módulo 3<br>OPERACIÓN Y
                              MANTENIMIENTO</Strong></span></a>
              </li>
-->
            </ul>
            </li>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->

<!-- [ Header ] start -->

<header class="navbar pcoded-header navbar-expand-lg navbar-light" style="background: whitesmoke; position: fixed;">

    <div class="m-header">
        <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
        <a href="#!" class="b-brand text-dark text-decoration-none">
            <div class="logo-container">
                <img src="{{ url_for('static', path='assets/images/logo-sena.ico') }}" alt="" class="logo" width="36px">
                <span style="font-size: 13px; margin-right: 2px;">Proyecto Acueducto</span>
            </div>
        </a>
        <a href="#!" class="mob-toggler">
            <i class="feather icon-more-vertical"></i>
        </a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            {% if usuario.rol == 'SuperAdmin' %}
            <li class="nav-item">
                <a class="text-dark" href="/form_registro_usuario" target="_self">Registrar usuario</a>
            </li>
            <li class="nav-item">
                <a class="text-dark" href="/registro_empresa" target="_self">Registrar empresa</a>
            </li>
            <li class="nav-item">
                <form action="/usuarios" method="post" class="btnUsuarios">
                    <button class="btnUsuarios text-dark" type="submit" target="_self">Usuarios</button>
                </form>
            </li>
            <li class="nav-item">
                <a class="text-dark" href="/empresas/1" target="_self">Empresas</a>
            </li>
            <li class="nav-item">
                <a class="text-dark" href="/reuniones" target="_self">Reunion</a>
            </li>
            <li class="nav-item">
                <a class="text-dark" href="/viviendas/1" target="_self">Viviendas</a>
            </li>
            {% elif usuario.rol == 'Admin' %}
            <li class="nav-item">
                <a class="text-dark" href="/form_registro_usuario" target="_self">Registrar usuario</a>
            </li>
            <li class="nav-item">
                <form action="/usuarios" method="post" class="btnUsuarios">
                    <button class="btnUsuarios text-dark" type="submit" target="_self">Usuarios</button>
                </form>
            </li>
            <li class="nav-item">
                <a class="text-dark" href="/reuniones" target="_self">Reunion</a>
            </li>
            <li class="nav-item">
                <a class="text-dark" href="/viviendas/1" target="_self">Viviendas</a>
            </li>
            {% endif %}

            {% if usuario.rol == 'Tecnico' %}
                <li class="nav-item">
                    <a class="text-dark" href="/listaVariables" target="_self">Diseño de componentes</a>
                </li>
            {% endif %}
        </ul>
    </div>
</header>