<!doctype html>
<html lang="en">
<head>
    {% block meta %}
    {% include 'meta.html' %}
    {% endblock %}
</head> 
<body class="dashboard-analytics admin-header">
    <!-- [ navigation menu ] start -->
    {% block nav %}
        {% include 'nav.html' %}
    {% endblock %}
    <!-- [ Header ] end -->
    <!-- BEGIN LOADER -->
    {% block loader %}
        {% include 'loader.html' %}
    {% endblock %}
    <!--  END LOADER -->

        <!--  BEGIN MAIN CONTAINER  -->
        <!--  BEGIN CONTENT AREA  -->
        <div class="pcoded-main-container">
            <div class="pcoded-content">
                <div class="container-xxl ">
                    <div class="container">
                        <div class="row g-5 align-items-end">
                            <section class="py">
                                <div class="container px-5">     
                                    <!-- Contact form-->
                                    <div class="row">
                                        {% if usuario.rol == "SuperAdmin" %}
                                        <div class="col-lg-12 col-md-12 col-sm-12 mt-3">
                                            <label for="selectEmpresa" class="form-label">Seleciona la empresa que quieres gestionar: </label>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <form id="formulario" action="/generar_documentos" method="GET"> 
                                                <select class="form-select mt-2 mb-3" name="id_empresa" id="selectEmpresa">
                                                    <option selected>Elige una empresa</option>
                                                    {% for empresa in datos_empresas %}
                                                    <option value="{{empresa.id_empresa}}">{{empresa.nom_empresa}}</option>
                                                    {% endfor %}
                                                </select>
                                            </form>  
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="row">                                        
                                        {% if usuario.rol == "Admin" %}
                                        <div class="col-lg-12 col-md-12 col-sm-12 pt-2">
                                            <div class="bg-light rounded p-4 shadow">
                                                <div class="text-center mb-5">
                                                    
                                                    <div class="align-self-center py-1">
                                                        <img src="{{ url_for('static', path='assets/images/logo-sena.ico') }}" width="40px" height="43px" alt="">
                                                    </div>
                                                    <h1 class="fw-bolder">Control Documental</h1>
                                                    <p class="lead fw-normal text-muted mb-0">Ingresa los datos para obtener tus documentos</p>
                                                </div>
                                                <div class="row gx-5 justify-content-center">
                                                    <div class="col-lg-12 col-xl-12">
                                                        <div >
                                                            <form id="miFormulario" action="/generar_docx/" method="POST" class="row form">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3  form-floating">
                                                                    <input class="form-control" id="nit" name="nit" type="text" placeholder="" required/>
                                                                    <label for="nit" class="form-label mx-3">NIT</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 form-floating mb-3 ">
                                                                    <input class="form-control" id="presidente" name="presidente" type="text" placeholder="" required/>
                                                                    <label for="presidente" class="form-label mx-3">Presidente de la Asociación</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 form-floating mb-3">
                                                                    <input class="form-control" id="patrimonio" name="patrimonio" type="text" placeholder="" required/>
                                                                    <label for="patrimonio" class="form-label mx-3">Patrimonio de la Asociación</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 form-floating mb-3">
                                                                    <input class="form-control" id="municipio" name="municipio" type="text" placeholder="" required/>
                                                                    <label for="municipio" class="form-label mx-3">Municipio</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 form-floating mb-3">
                                                                    <input class="form-control" id="departamento" name="departamento" type="text" placeholder=""/>
                                                                    <label for="departamento" class="form-label mx-3">Departamento</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 form-floating mb-3">
                                                                    <input class="form-control" id="web" name="web" type="text" placeholder=""/>
                                                                    <label for="web" class="form-label mx-3">Página Web</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 form-floating mb-3">
                                                                    <input class="form-control" id="horario" name="horario" type="text" placeholder=""/>
                                                                    <label for="horario" class="form-label mx-3">Horario de Atención</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 form-floating mb-3">
                                                                    <input class="form-control" id="sigla" name="sigla" type="text" placeholder="" required/>
                                                                    <label for="sigla" class="form-label mx-3">Sigla</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 form-floating mb-3">
                                                                    <input class="form-control" id="vereda" name="vereda" type="text" placeholder=""/>
                                                                    <label for="vereda" class="form-label mx-3">Vereda</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 form-floating mb-3">
                                                                    <input class="form-control" id="fecha" name="fecha" type="date" placeholder=""/>
                                                                    <label for="fecha" class="form-label mx-3">Fecha de Constitución</label>
                                                                </div>
    
                                                                <div class="col-lg-6 col-md-6 col-sm-12 form-floating mb-3">
                                                                    <input class="form-control" id="especificaciones" name="especificaciones" type="text" placeholder=""/>
                                                                    <label for="especificaciones" class="form-label mx-3">Especificaciones del Tipo de Medidor</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 form-floating mb-3">
                                                                    <input class="form-control" id="diametro" name="diametro" type="text" placeholder=""/>
                                                                    <label for="diametro" class="form-label mx-3">Diametro del Medidor</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 form-floating mb-3">
                                                                    <input class="form-control" id="caudal_permanente" name="caudal_permanente" type="text" placeholder=""/>
                                                                    <label for="caudal_permanente" class="form-label mx-3">Caudal Permanente (Q3)</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 form-floating mb-3">
                                                                    <input class="form-control" id="rango_medicion" name="rango_medicion" type="text" placeholder=""/>
                                                                    <label for="rango_medicion" class="form-label mx-3">Rango Medición (R)</label>
                                                                </div>
                                                                <!-- Submit Button-->
                                                                <div class="d-grid"><button class="btn btn-success btn-lg" type="submit">Enviar</button></div>
                                                            </form>
                                                        </div>
                                                        
                                                        <div id="loader" class="loader"></div> 
                                                    </div>
                                                </div>                                            
                                            </div>
                                        </div>
                                        {% endif %}
                                        <div class="col-lg-12 col-md-12 col-sm-12 pt-2">
                                            <div class="bg-light rounded p-4 shadow">
                                                <section>
                                                    <div class="text-center">

                                                        {% if rutas_pdf %}
                                                            <div class="align-self-center py-1">
                                                                <img src="{{ url_for('static', path='assets/images/logo-sena.ico') }}" width="40px" height="43px" alt="">
                                                            </div>
                                                            <h1 class="fw-bolder">Tus Documentos</h1>
                                                            <p class="lead fw-normal text-muted mb-0 pb-3">Estos son los documentos generados, puedes editarlos si deseas llenando el formulario nuevamente </p>
                                                            {% for ruta in rutas_pdf %}
                                                                <iframe src="{{ url_for('static', path=ruta) }}" style="width: 100%; height: 25em; border: none;"></iframe>
                                                                <div class="row pt-2 pb-2">
                                                                    <div class="col-6">
                                                                        <div class="d-grid">
                                                                            <a href="{{ url_for('static', path=ruta) }}" download="Documento.pdf" class="btn btn-success btn-lg">Descargar Documento</a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-6">
                                                                        <div class="d-grid">
                                                                            {% if loop.index == 1 %}
                                                                                <a href="{{ url_for('static', path='ArchivosDescarga/P01-F-03_Estatutos_Asociacion_Suscriptores.docx') }}" download="Estatutos_Asociacion_Suscriptores.docx" class="btn btn-success btn-lg">Descargar Formato</a>
                                                                            {% elif loop.index == 2 %}
                                                                                <a href="{{ url_for('static', path='ArchivosDescarga/P01-F-02_Formato_Contrato_Condiciones_Uniformes.docx') }}" download="Formato_Contrato_Condiciones_Uniformes.docx" class="btn btn-success btn-lg">Descargar Formato</a>
                                                                            {% elif loop.index == 3 %}
                                                                                <a href="{{ url_for('static', path='ruta_especial_2') }}" class="btn btn-success btn-lg">Descargar Formato</a>
                                                                            {% endif %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        {% else %}
                                                            <div class="align-self-center py-1">
                                                                <img src="{{ url_for('static', path='assets/images/logo-sena.ico') }}" width="40px" height="43px" alt="">
                                                            </div>
                                                            <h1 class="fw-bolder">Documentos de Ejemplo</h1>
                                                            <p class="lead fw-normal text-muted mb-0 pb-3">Estos son los documentos que se van modificar</p>
                                                            <iframe src="{{ url_for('static', path='ArchivosDescarga/P01-F-02_Formato_Contrato_Condiciones_Uniformes.pdf') }}" style="width: 100%; height: 25em; border: none;"></iframe>
                                                            <iframe src="{{ url_for('static', path='ArchivosDescarga/P01-F-03_Estatutos_Asociacion_Suscriptores.pdf') }}" style="width: 100%; height: 25em; border: none; "></iframe>
                                                        {% endif %}
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="row g-5 align-items-end">
                            <div class="col-lg-12 mb-4">
                                <div class="footer-wrapper col-xl-12 d-flex justify-content-center mt-2">
                                    <div class="footer-section f-section-1">
                                        <p class="">&copy; 2023 <a target="_blank" href="https://www.sena.edu.co/es-co/Paginas/default.aspx">SENA - Acueducto</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

    <script>
        document.getElementById('miFormulario').addEventListener('submit', function(event) {
            var botonEnviar = this.querySelector('button[type="submit"]');
            botonEnviar.disabled = true;
        });
    </script>
        

    <!-- BEGIN SCRIPTS -->
    {% block scripts %}
        {% include 'scripts.html' %}
    {% endblock %}
    <!-- END SCRIPTS -->
</body>
</html>