<!DOCTYPE html>
<html lang="es">

<head>
  <title>Registro Usuario</title>
  {% block meta %}
  {% include 'meta.html' %}
  {% endblock %}
  <script>
    function validarFormulario() {
      var nom_usuario = document.getElementById("nom_usuario").value.trim();
      var apellido_usuario = document.getElementById("apellido_usuario").value.trim();
      var tipo_doc = document.getElementById("tipo_doc").value.trim();
      var num_doc = document.getElementById("num_doc").value.trim();
      var correo = document.getElementById("correo").value.trim();
      var municipio = document.getElementById("municipio").value.trim();
      var direccion = document.getElementById("direccion").value.trim();
      var empresa = document.getElementById("empresa").value.trim();
      var rol = document.getElementById("rol").value.trim();
      var contrasenia = document.getElementById("contrasenia").value.trim();
    
      if (
        nom_usuario === "" ||
        apellido_usuario === "" ||
        tipo_doc === "" ||
        num_doc === "" ||
        correo === "" ||
        municipio === "" ||
        direccion === "" ||
        empresa === "" ||
        rol === "" 
      ) {
        Swal.fire({
            title: "Aviso",
            text: "no puede dejar campos vacios",
            icon: type,
        });
        return false;
      }
    
      return true;
    }
    </script>
    
</head>
<style>
  #tipo_doc,
  #rol,
  #empresa {
    cursor: pointer;
  }
</style>


<body class="dashboard-analytics admin-header">
  <header>
    {% block nav %}
    {% include 'nav.html' %}
    {% endblock %}
  </header>
  <!-- [  navigation menu ] end -->

  <!-- BEGIN LOADER -->
  {% block loader %}
  {% include 'loader.html' %}
  {% endblock %}
  <!--  END LOADER -->
  <!--  BEGIN MAIN CONTAINER  -->
  <div class="main-container mt-5" id="container">
    <div class="overlay"></div>
    <div class="search-overlay"></div>
    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
      <div class="layout-px-spacing">
        <div class="container-xxl bg-light  shadow">
          <div class="layout-top-spacing">
            <div class="col-left-content">
              <!-- Formulario registro suscriptores -->
              <div class="container-xxl d-flex justify-content-center align-items-center vh-90">
                <div class="col-lg-12 col-md-12 col-sm-12 pt-2">
                  {% if alerta: %}
                  <div class="alert alert-{{alerta.color}}" role="alert">
                    {{alerta.mensaje}}
                  </div>
                  {% endif %}
                  <h2 class="text-center mb-4 py-3">Registro Usuario</h2>
                  <form  id="registroForm" class="row" onsubmit="return validarFormulario()">
                    <!-- Agregamos action y method para enviar datos al servidor -->
                    <div class="form-group  col-lg-6 col-md-6 col-sm-12 mb-3">
                      <label for="nom_usuario">Nombres</label>
                      <input type="text" class="form-control" id="nom_usuario" name="nom_usuario" placeholder="Nombres"
                        required>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 mb-3">
                      <label for="apellido_usuario">Apellidos</label>
                      <input type="text" class="form-control" id="apellido_usuario" name="apellido_usuario"
                        placeholder="Apellidos" required>
                    </div>

                    <div class=" form-group col-lg-6 col-md-6 col-sm-12 mb-3 ">
                      <label for="tipo_doc">Tipo de Documento:</label>
                      <select class="form-select" name="tipo_doc" id="tipo_doc" required>
                        <option value="CC">Cédula de Ciudadanía</option>
                        <option value="CE">Cédula de Extranjería</option>
                        <option value="DNI">DNI</option>
                        <option value="NIT">NIT</option>
                      </select>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-3 form-group ">
                      <label for="num_doc">Número de Documento:</label>
                      <input type="number" class="form-control" name="num_doc" id="num_doc" required>
                      <div id="num_doc_error" style="color: red"></div>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 mb-3">
                      <label for="correo">Correo Electrónico:</label>
                      <input type="email" class="form-control" name="correo" id="correo" required>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 mb-3">
                      <label for="municipio">Municipio:</label>
                      <input type="text" class="form-control" name="municipio" id="municipio" required>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 mb-3">
                      <label for="direccion">Dirección:</label>
                      <input type="text" class="form-control" name="direccion" id="direccion" required>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 mb-3">
                      <label for="empresa">Empresa</label>
                      <select class="form-control" name="empresa" id="empresa" required>
                        {% if usuario.rol == 'SuperAdmin': %}
                        <option value="" disabled selected>Seleccione una empresa</option>
                        {% for empresa in empresas %}
                        <option value="{{ empresa.id_empresa }}">{{ empresa.nom_empresa }}</option>
                        {% endfor %}
                        {%endif%}
                        {%if usuario.rol == 'Admin': %}
                        <option value="{{empresa.id_empresa}}">{{empresa.nom_empresa}}</option>
                        {%endif%}
                      </select>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 mb-3">
                      <label for="rol">Rol:</label>
                      <select class="form-select" name="rol" id="rol" onchange="ocultarPassword()" required>
                        {% if usuario.rol == 'SuperAdmin': %}
                        <option value="Admin">Admin</option>
                        <option value="Técnico">Técnico</option>
                        <option value="Suscriptor">Suscriptor</option>
                        {% endif %}
                        {% if usuario.rol == 'Admin': %}
                        <option value="Técnico">Técnico</option>
                        <option value="Suscriptor">Suscriptor</option>
                        {% endif %}
                        {% if usuario.rol == 'Técnico': %}
                        <option value="Suscriptor">Suscriptor</option>
                        {% endif %}
                      </select>
                    </div>

                    <div class="form-group col-lg-6 col-md-6 col-sm-12 mb-3 " id="contraseniaField">
                      <label for="contrasenia">Contraseña:</label>
                      <input type="password" class="form-control" name="contrasenia" id="contrasenia">
                    </div>
                    <div class="text-center mt-2 ">
                      <a href="/index"  class="btn btn-danger">Cancelar</a>
                      <button type="submit" class="btn btn-success" onclick="insertUser()">Registrar</button>
                    </div>
                    
                  </form>
                  
                  
                </div>
              </div>
              <br>
            </div>
          </div>
        </div>
        <!--  END CONTENT AREA  -->
      </div>
      <br>
      <div class="footer-section f-section-1 m-1" style="text-align: center;">
        <p>&copy; 2023 <a target="_blank" href="https://www.sena.edu.co/es-co/Paginas/default.aspx">SENA -Acueducto</a>
        </p>
      </div>
    </div>
    {% block scripts %}
    {% include 'scripts.html' %}
    {% endblock %}
    <!-- <script>
      function insertUser(){
        document.getElementById("registroForm").submit();
        document.getElementById("registroForm").reset();
      }
    </script> -->

    <script >
      //funcion para valirdar que se creo
  
      async function enviarSolicitud(formData){
        try {
          const reponse = await fetch("/crearUser", {
            method: "POST",
            body: formData,
          });
  
          console.log(reponse.status);
          if(reponse.status === 201){
            
            //const data = await reponse.json();
            console.log("qqqaaaa")
            return {success: true};
  
          } else {
            const errorData = await reponse.json();
            throw new Error(errorData.detail || "Error desconocido" );
          }
  
        } catch (error) {
          throw error;
        }
      }
  
      //funcion  para mostrar alert
      function mostrarAlert(message, type = "info"){
        Swal.fire({
            title: "Aviso",
            text: message,
            icon: type,
        });
      } 
  
    document.getElementById("registroForm").addEventListener("submit", async function (event){
      event.preventDefault();
      console.log("SI ENTRAMOS PAPI");
      try {
        const formData = new FormData(this);
  
        const response = await enviarSolicitud(formData);
  
        if (response.success) {
          console.log("nos fuimos")
          mostrarAlert("Usuario regsitrado con exito.", "success");
  
          //Limpiamos el form
          this.reset();
  
          document.getElementById("nom_usuario").focus();
          
          console.log("aui etamos")
          setTimeout(function() {
            window.location.href = "/form_registro_usuario";
          }, 3000); // segundos
        }
      } catch (error) {
        mostrarAlert(`Error al registrar el usuario: `,"error");
      }
    });
  
    </script>
    <script>
      function ocultarPassword() {
        var rolSelect = document.getElementById("rol");
        var contraseniaField = document.getElementById("contraseniaField");
      
        if (rolSelect.value === "Suscriptor") {
          contraseniaField.style.display = "none";
          
        } else {
          contraseniaField.style.display = "block";
        }
      }
      
      ocultarPassword();

    </script>

</body>

</html>